<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>259923055008-fgr0v2go065o84cpqj17f761ih1ilkr0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.259923055008-fgr0v2go065o84cpqj17f761ih1ilkr0</string>
	<key>API_KEY</key>
	<string>AIzaSyACK-oFFr-EtjzoTNUJ_eZWANCNyrCYt8E</string>
	<key>GCM_SENDER_ID</key>
	<string>259923055008</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mobilesoftwareservices.FungiFinder</string>
	<key>PROJECT_ID</key>
	<string>fungifinder-503c9</string>
	<key>STORAGE_BUCKET</key>
	<string>fungifinder-503c9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:259923055008:ios:01b00193e07f258ae994c5</string>
</dict>
</plist>